<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue, <%= me.name %>!</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="/styles/userStyle.css">
  <link rel="stylesheet" href="/styles/theme-default.css">



  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->

  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/bootstrap-select.js"></script>

</head>
<body ng-app="DashboardModule" ng-controller="DashboardController" ng-cloak>

<!-- container = Fixed-width container container-fluid = full-width -->
<div class="container-fluid">
  <!-- Creates the navbar -->
  <nav class="navbar navbar-default navbar-inverse ">
    <!-- This creates the mechanism for collapse button -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true"
            ng-click="navCollapsed = !navCollapsed">
      <!-- This controls the number of lines in the image when the nav collapse -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- This is the brand on the left-hand side. -->
    <a class="navbar-brand" href="/#/"> Application covoiturage</a>
    <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <!-- This is what "styles" the li's as navbar items -->
      <div class="navbar-form navbar-right">

        <div class="form-group">
          <span class="glyphicon glyphicon-log-out" style="color: #f5f5ff;"></span>&nbsp;&nbsp;<a style="color: white" href="/logout">Se
            déconnecter</a>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
      </div>
    </div>
  </nav>
  <script>
    var currentId = "<%= me.id %>";
    var currentName = "<%= me.name %>";
    var currentMail = "<%= me.email %>";
    var currentTel = "<%= me.tel %>";
  </script>


  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="page-head-line">Dashboard</h4>

        </div>

      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="dashboard-div-wrapper bk-clr-one">
            <i  class="glyphicon glyphicon-user dashboard-div-icon" ></i>
            <a href="#/monCompte" style="color: white"> <h4 style=" color: white; font-style: oblique">Gérer mon compte</h4></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="dashboard-div-wrapper bk-clr-two">
            <i  class="fa fa-suitcase dashboard-div-icon" ></i>
            <a href="#/" style="color: white"> <h4 style="color: white; font-style: oblique">Réserver une annonce</h4></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="dashboard-div-wrapper bk-clr-three">
            <i  class="glyphicon glyphicon-road dashboard-div-icon" ></i>
            <a href="#/mesReservations" style="color: white"> <h4 style="color: white; font-style: oblique">Gérer mes réservations</h4></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="dashboard-div-wrapper bk-clr-four">
            <i  class="fa fa-bullhorn dashboard-div-icon" ></i>
            <a href="#/mesAnnonces" style="color: white"> <h4 style="color: white; font-style: oblique">Gérer mes annonces</h4></a>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div ui-view></div>

</div>


<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.1.3.js"></script>
<script src="js/dependencies/angular-ui-router.js"></script>
<script src="js/dependencies/angular-animate.js"></script>


<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>



<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/public/signup/SignupController.js"></script>

<script src="/js/public/homepage/HomepageModule.js"></script>
<script src="/js/public/homepage/HomepageController.js"></script>

<script src="/js/private/dashboard/DashboardModule.js"></script>
<script src="/js/private/dashboard/DashboardController.js"></script>

<script src="/users/gstAnnonces/AnnonceModule.js"></script>
<script src="/users/gstAnnonces/AnnonceController.js"></script>

<script src="/users/gstCompte/CompteModule.js"></script>
<script src="/users/gstCompte/CompteController.js"></script>

<script src="/users/gstReservations/ReservationModule.js"></script>
<script src="/users/gstReservations/ReservationController.js"></script>

<script src="/users/resAnnonces/AnnonceReservationModule.js"></script>
<script src="/users/resAnnonces/AnnonceReservationController.js"></script>


</body>
</html>
